<ts-section-card>
  @if (deal$ | async; as deal) {
    <div class="flex flex-row justify-between">
      <button [routerLink]="['/list']" class="btn btn-ghost btn-circle btn-md">
        <ng-icon name="iconoirArrowLeft"></ng-icon>
      </button>
      <button (click)="openDialog(deal)" class="btn btn-outline btn-info btn-md">
        <ng-icon name="iconoirEdit"></ng-icon>
        Edit
      </button>
    </div>

    <div class="p-4">
      <div class="flex flex-row justify-start items-center gap-6 mb-2">
        <h1 class="text-4xl font-bold">{{ deal.name }}
        </h1>
        <ts-deal-type-badge [dealType]="deal.type"></ts-deal-type-badge>
      </div>
      <h2 class="text-slate-500 flex flex-row justify-start items-center gap-2 mb-8">
        <ng-icon name="iconoirMap"></ng-icon>
        {{ deal.address }}
      </h2>
      <div class="[&>div]:bg-gradient-to-b [&>div]:w-full flex flex-col gap-4 md:flex-row">
        <div
          class="flex flex-row flex-nowrap place-content-center card w-full from-orange-600 to-orange-300 shadow-md text-base-100">
          <div class="card-body flex flex-row justify-start items-center gap-4">
            <ng-icon class="min-w-fit" size="2.5rem" name="iconoirHomeSale"></ng-icon>
            <div class="flex flex-col place-content-start">
              <h2 class="text-2xl font-bold">Purchase Price</h2>
              <p class="text-lg">{{ deal.purchasePrice | currency }}</p>
            </div>
          </div>
        </div>

        <div class="card w-fit from-green-500 to-green-300 shadow-md text-base-100">
          <div class="card-body flex flex-row justify-start items-center gap-4">
            <ng-icon class="min-w-fit" size="2.5rem" name="iconoirMoneySquare"></ng-icon>
            <div class="flex flex-col place-content-start">
              <h2 class="text-2xl font-bold">NOI</h2>
              <p class="text-lg">{{ deal.netOperationalIncome | currency }}</p>
            </div>
          </div>
        </div>

        <div class="card w-fit from-blue-500 to-blue-300 shadow-md text-base-100">
          <div class="card-body flex flex-row justify-start items-center gap-4">
            <ng-icon class="min-w-fit" size="2.5rem" name="iconoirGraphUp"></ng-icon>
            <div class="flex flex-col place-content-start">
              <h2 class="text-2xl font-bold">Cap Rate</h2>
              <p class="text-lg">{{ (deal.netOperationalIncome / deal.purchasePrice) | percent: '1.2-2' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <button [routerLink]="['/list']" class="btn btn-ghost btn-circle btn-md">
      <ng-icon name="iconoirArrowLeft"></ng-icon>
    </button>
    <p>Error fetching deal</p>
  }
</ts-section-card>
