<div class="w-full card bg-base-100 shadow-2xl border-slate-300 border-[1px]">
  <div class="card-body">
    <h2 class="card-title flex flex-row flex-nowrap justify-between ">
      <p class="truncate">{{ deal.name }}</p>
      <ng-container
        *ngTemplateOutlet="typeBadge; context:{ type: deal.type} ">
      </ng-container>
    </h2>
    <div class="divider m-0"></div>

    <div class="grid md:grid-cols-2 gap-6">
      <label for="address">
        <p class="font-bold">Address</p>
        <p id="address">{{ deal.address }}</p>
      </label>

      <label for="purchase-price">
        <p class="font-bold">Purchase Price</p>
        <p id="purchase-price">{{ deal.purchasePrice | currency }}</p>
      </label>

      <label for="noi">
        <div class="flex flex-row gap-2 justify-start items-center w-fit">
          <p class="font-bold" title="Net Operational Income">NOI</p>
          <div class="tooltip" data-tip="Net Operational Income">
            <div class="badge badge-ghost rounded font-bold">?</div>
          </div>
        </div>
        <p id="noi">{{ deal.netOperationalIncome | currency }}</p>
      </label>

      <label for="cap-rate">
        <p class="font-bold">Cap Rate</p>
        <p id="cap-rate">{{ (deal.netOperationalIncome / deal.purchasePrice) | percent }}</p>
      </label>
    </div>
  </div>
</div>

<ng-template #typeBadge let-dealType="type">
  @switch (dealType) {
    @case ('Acquisition') {
      <div class="badge badge-success">{{ dealType }}</div>
    }
    @case ('Lease') {
      <div class="badge badge-info">{{ dealType }}</div>
    }
    @case ('Development') {
      <div class="badge badge-warning">{{ dealType }}</div>
    }
    @default {
      <div class="badge badge-ghost">{{ dealType }}</div>
    }
  }
</ng-template>
