<h2 [ngPlural]="dealsForm.controls.length" class="font-bold text-xl mb-4">
  <ng-template ngPluralCase="=1"> Add New Deal</ng-template>
  <ng-template ngPluralCase="other"> Add {{ dealsForm.controls.length }} New Deals</ng-template>
</h2>
<form [formGroup]="form" class="overflow-auto flex flex-col gap-2 mb-2">
  <cdk-accordion #accordion="cdkAccordion" formArrayName="dealsForm">
    @for (dealForm of dealsForm.controls; track dealForm; let index = $index; let first = $first; let last = $last; let count = $count) {
      <cdk-accordion-item role="button"
                          expanded="true"
                          class="p-0 rounded"
                          #accordionItem="cdkAccordionItem"
                          [attr.id]="'accordion-header-' + index"
                          [attr.aria-expanded]="accordionItem.expanded"
                          [attr.aria-controls]="'accordion-body-' + index"
                          [formGroup]="castFormGroup(dealForm)">
        <div class="pr-2"
        >
          <div class="p-4 border-b-[1px]"
               [ngClass]="{
                'bg-error text-red-100': dealForm.invalid,
                'bg-success text-green-100': dealForm.valid,
                'rounded-t-2xl': first,
                'rounded-b-2xl': last && !accordionItem.expanded,
                'border-b-[1px]': !last
               }"
               (click)="accordionItem.toggle()">
            <div class="flex flex-row flex-nowrap justify-between items-center">
              @if (dealForm.invalid) {
                <span class="flex flex-row justify-start items-center gap-2">
                  <ng-icon strokeWidth="2px" size="1.75rem" name="iconoirWarningTriangle"></ng-icon>
                  <span class="font-bold">{{ index + 1 }} of {{ count }}: </span>
                  <span>Please fill out all fields</span>
                </span>
              } @else {
                <span class="flex flex-row justify-start items-center gap-2">
                  <ng-icon strokeWidth="2px" size="1.75rem" name="iconoirCheckCircle"></ng-icon>
                  <span class="font-bold">{{ index + 1 }} of {{ count }}: </span>
                  <span>Good to go!</span>
                </span>
              }
              <div class="flex flex-row justify-end items-center gap-6">
                @if (count !== 1) {
                  <button
                    class="btn text-base-100 btn-ghost btn-outline btn-sm hover:bg-transparent/20 hover:border-transparent"
                    (click)="removeForm(index)">
                    Remove
                  </button>
                }
                <!--- Caret -->
                @if (accordionItem.expanded) {
                  <ng-icon strokeWidth="2px" name="iconoirNavArrowUp"></ng-icon>
                } @else {
                  <ng-icon strokeWidth="2px" name="iconoirNavArrowDown"></ng-icon>
                }
              </div>
            </div>


          </div>
          <div role="region" class="grid grid-cols-2 gap-4 bg-slate-100 text-sm p-4"
               [ngClass]="{
                'rounded-b-2xl': last && accordionItem.expanded,
               }"
               [style.display]="accordionItem.expanded ? '' : 'none'"
               [attr.id]="'accordion-body-' + index"
               [attr.aria-labelledby]="'accordion-header-' + index">
            <label class="form-control w-full">
              <p class="font-bold mb-1">Deal Name</p>
              <input
                formControlName="name"
                autocomplete="off"
                class="input input-bordered input-xs w-full"
                [maxlength]="DealFormDialog.DEFAULT_FIELD_MAX_LENGTH"
                minlength="1"
                name="name"
                placeholder="Type here"
                type="text" />
            </label>

            <label class="form-control w-full">
              <p class="font-bold mb-1">Address</p>
              <input
                formControlName="address"
                autocomplete="off"
                class="input input-bordered input-xs w-full"
                [maxlength]="DealFormDialog.DEFAULT_FIELD_MAX_LENGTH"
                minlength="1"
                name="address"
                placeholder="Type here"
                type="text" />
            </label>

            <label class="form-control w-full">
              <p class="font-bold mb-1">Purchase Price</p>
              <input
                formControlName="purchasePrice"
                autocomplete="off"
                class="input input-bordered input-xs w-full"
                [maxlength]="DealFormDialog.DEFAULT_MONEY_FIELD_MAX_LENGTH"
                minlength="1"
                name="purchase-price"
                placeholder="Type here"
                type="number" />
            </label>

            <label class="form-control w-full">
              <p class="font-bold mb-1">NOI</p>
              <input
                formControlName="netOperationalIncome"
                autocomplete="off"
                class="input input-bordered input-xs w-full"
                [maxlength]="DealFormDialog.DEFAULT_MONEY_FIELD_MAX_LENGTH"
                minlength="1"
                name="noi"
                placeholder="Type here"
                type="number" />
            </label>

            <label class="form-control w-full">
              <p class="font-bold mb-1">Type</p>
              <select formControlName="type" class="select select-bordered select-xs w-full max-w-xs">
                <option [value]="''" disabled selected>Select Deal type</option>
                @for (entry of Object.values(dealTypes); track entry) {
                  <option [value]="entry">{{ entry }}</option>
                }
              </select>
            </label>
          </div>
        </div>
      </cdk-accordion-item>
    }

  </cdk-accordion>
</form>

<div class="flex place-content-center mt-4 gap-2">
  <button (click)="addNewDealForm()" [disabled]="dealsForm.length >= 5"
          class="btn btn-circle btn-outline btn-primary btn-sm">
    <ng-icon name="iconoirPlus"></ng-icon>
  </button>
</div>

<small
  class="mt-2 block text-center text-slate-400 w-full">{{ dealsForm.length === 5 ? 'Limit of 5 deals per submission reached.' : '&nbsp;' }}</small>

<div class="mt-2 flex flex-row place-content-end gap-2">
  <button (click)="saveNewDeals()"
          [disabled]="form.invalid"
          class="btn btn-primary"
  >
    Save
  </button>
  <button (click)="closeDialog()" class="btn btn-ghost">Close</button>
</div>
