<ts-section-card>
  <div>
    <div class="flex place-content-between mb-6">
      <div [formGroup]="filtersForm" class="flex flex-row justify-start items-center gap-2">
        <span><ng-icon class="text-primary" name="iconoirFilter"></ng-icon></span>
        <input class="input input-bordered input-primary input-md w-full max-w-xs"
               formControlName="name"
               placeholder="Deal Name" type="text" />
        <select class="select select-bordered select-primary select-md w-full max-w-xs" formControlName="type">
          <option [value]="''" selected>Select Deal type</option>
          @for (entry of Object.values(dealTypes); track entry) {
            <option [value]="entry">{{ entry }}</option>
          }
        </select>
        <button (click)="resetFilters()" class="btn btn-ghost btn-md">Clear</button>
      </div>
      <button (click)="openDialog($event)" class="btn btn-primary btn-md">Add Deal</button>
    </div>
  </div>
  @if (dealsList$ | async; as dealsList) {
    <div class="overflow-x-auto md:max-h-[70vh]">
      <table aria-describedby="Deals Listing" class="table table-md">
        <!-- head -->
        <thead class="sticky top-0 bg-slate-100">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Deal Name</th>
          <th scope="col">Type</th>
          <th scope="col">Purchase Price</th>
          <th scope="col">
            NOI
          </th>
          <th scope="col">Cap Rate</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          @for (deal of dealsList; track deal.id; let count = $count) {
            <tr class="hover:bg-slate-200 cursor-pointer" (click)="navigateToDealDetails(deal)">
              <th [id]="deal.id">{{ deal.id }}</th>
              <td class="truncate">{{ deal.name }}</td>
              <td>
                <ts-deal-type-badge [dealType]="deal.type"></ts-deal-type-badge>
              </td>
              <td>{{ deal.purchasePrice | currency }}</td>
              <td>{{ deal.netOperationalIncome | currency }}</td>
              <td>{{ (deal.netOperationalIncome / deal.purchasePrice) | percent: '1.2-2' }}</td>
              <td>
                <button class="btn btn-ghost text-blue-500 btn-sm btn-rounded text-xs"
                        (click)="openDialog($event, deal)">
                  <ng-icon name="iconoirEdit"></ng-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <small [ngPlural]="dealsList.length" class="text-center text-slate-400 w-full block mt-4">
      <ng-template ngPluralCase="=1">Displaying {{ dealsList.length }} match</ng-template>
      <ng-template ngPluralCase="other">Displaying {{ dealsList.length }} matches</ng-template>
      <ng-template ngPluralCase="0">No matches. Please try a different search criteria.</ng-template>
    </small>
  } @else {
    <div class="text-center flex flex-col place-content-center">
      <small>Loading...</small>
    </div>
  }
</ts-section-card>



