<section class="card shadow-2xl p-6 border-[1px] border-slate-300 w-full"
         xmlns="http://www.w3.org/1999/html">
  <div>
    <div class="flex place-content-end mb-4">
      <button (click)="openDialog()" class="btn btn-primary btn-sm">Add Deal</button>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table aria-describedby="Deals Listing" class="table table-sm">
      <!-- head -->
      <thead>
      <tr>
        <th></th>
        <th>Deal Name</th>
        <th>Type</th>
        <th>Purchase Price</th>
        <th>
          NOI
        </th>
        <th>Cap Rate</th>
      </tr>
      </thead>
      <tbody>
        @for (deal of dealsList$ | async; track deal.id) {
          <tr class="hover:bg-slate-200 cursor-pointer" (click)="openDialog(deal)">
            <th [id]="deal.id">{{ deal.id }}</th>
            <td class="truncate">{{ deal.name }}</td>
            <td class="[&>small]:text-xs">
              <ng-container
                *ngTemplateOutlet="typeBadge; context:{ type: deal.type} ">
              </ng-container>
            </td>
            <td>{{ deal.purchasePrice | currency }}</td>
            <td>{{ deal.netOperationalIncome | currency }}</td>
            <td>{{ (deal.netOperationalIncome / deal.purchasePrice) | percent }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>


<ng-template #typeBadge let-type="type">
  @switch (type) {
    @case (dealType.acquisition) {
      <small class="badge badge-success">{{ type }}</small>
    }
    @case (dealType.lease) {
      <small class="badge badge-info">{{ type }}</small>
    }
    @case (dealType.development) {
      <small class="badge badge-warning">{{ type }}</small>
    }
    @default {
      <small class="badge badge-ghost">{{ type }}</small>
    }
  }
</ng-template>
